{% extends './layout.html' %}

{% block content %}

<h2>{{contact.fullName}}</h2>
<h4>{{contact.company}}</h4>
<h5>{{ contact.email }}</h5>
<h5>{{contact.formattedPhone}}</h5>


<form method="GET" action="/contacts/{{contact.id}}/edit" class="form-group">
    <button class="btn btn-outline-success">Edit</button>
</form>

<form method="POST" action="/contacts/{{contact.id}}?_method=DELETE" class="form-group">
  <button class="btn btn-outline-danger">Delete</button>
</form>

<p>
  <a href="/contacts">&laquo; Back to all contacts</a>
</p>

{% endblock %}
