{% extends './layout.html' %}

{% block content %}

<form method="POST" action="/contacts" style="margin-bottom:15px;" class="form-group">
  <label>First Name</label>
    <input type="text" name="firstName" />
  <label>Last Name</label>
    <input type="text" name="lastName" />
  <label>Company</label>
    <input type="text" name="company" />
  <label>Phone Number</label>
    <input type="tel" name="number" />
  <button class="btn btn-outline-primary">Add Contact</button>
</form>

<ul class="list-group">
  {% for contact in contacts %}
    <form method="GET" action="/contacts/{{contact.id}}/edit" class="form-group">
      <li class="list-group-item">
        <a href="/contacts/{{contact.id}}"><strong>{{contact.firstName}} {{contact.lastName}}</strong></a>
        &nbsp;&nbsp;
        <button class="btn btn-outline-success">Edit</button>
        &nbsp;&nbsp;
      </li>
    </form>
    {% endfor %}
</ul>

{% endblock %}
