{% extends './layout.html' %}

{% block content %}

<form method="POST" action="/contacts" style="margin-bottom:15px;" class="form-group">
  <div class="row">
    <div class="form-group col-md-4">
      <label>First Name</label>
      <input class="form-control" type="text" name="firstName" />
    </div>
    <div class="form-group col-md-5">
      <label>Last Name</label>
      <input class="form-control" type="text" name="lastName" />
    </div>
    <div class="form-group col-md-3">
      <label>Phone Number</label>
      <input class="form-control" type="tel" name="number" placeholder="123456789 format" />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <label>Company</label>
      <input class="form-control" type="text" name="company" />
    </div>
    <div class="form-group col-md-6">
      <label>Email</label>
      <input class="form-control" type="text" name="email" />
    </div>
  </div>
  <div class="form-group">
    <button class="btn btn-outline-primary mb-2">Add Contact</button>
  </div>
</form>



<ul class="list-group">
  {% for contact in contacts %}
      <li class="list-group-item">
        <a class="contactName" href="/contacts/{{contact.id}}"><strong>{{contact.fullName}}</strong></a>
        <p>{{contact.company}}</p>
        <div class="flex">
          <a style="margin-right:20px" href="/contacts/{{contact.id}}/edit"><button class="btn btn-outline-success">Edit</button></a>
          <form method="POST" action="/contacts/{{contact.id}}?_method=DELETE" class="form-group">
            <button class="btn btn-outline-danger">Delete</button>
          </form>
        </div>
      </li>



    {% endfor %}
</ul>

{% endblock %}
