{% extends './layout.html' %}

{% block content %}

<form method="POST" action="/contacts">
  <label>First Name</label>
    <input type="text" name="firstName" />
  <label>Last Name</label>
    <input type="text" name="lastName" />
  <label>Company</label>
    <input type="text" name="company" />
  <label>Phone Number</label>
    <input type="number" name="number" />
  <button class="btn btn-outline-primary">Add Contact</button>
</form>
<ul class="list-group">
  {% for contact in contacts %}
    <form method="POST" action="/contacts/{{contact.id}}?_method=DELETE" class="form-group">
      <li class="list-group-item">
        <a href="/contacts/{{contact.id}}">{{contact.firstName}} {{contact.lastName}}</a>
        &nbsp;&nbsp;
        <button class="btn btn-outline-danger">Delete</button>
        &nbsp;&nbsp;
      </li>
    </form>
    {% endfor %}
</ul>

{% endblock %}
