<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="/vendor/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="/vendor/style.css" />
  <!-- <script src="main.js"></script> -->
</head>
<body>
  <div class="container">
    <h1>{{ pageh1 }}</h1>
    <ul class="nav nav-tabs" style="margin-bottom:15px">
      <li class="nav-item">
        <a href="/" class="nav-link {%if path === '/'%}active{%endif%}">Home</a>
      </li>
      <li class="nav-item">
        <a href="/contacts" class="nav-link
         {% set regExp = r/contacts\/?\d?/ %}
        {%if regExp.test(path)%}active{% endif %}">Contacts</a>
      </li>
    </ul>

    {% block content %}
    {% endblock %}

  </div>
</body>
</html>
